@CHARSET "UTF-8";

body span {
	font-size: 20px;
	font-weight: normal;
}

#show {
	min-width: 400px;
	min-height: 55px;
	left: 50%;
	top: 50%;
	color: #67C23A;
	font-size:16px;
	text-indent: 10px;
	line-height: 54px;
	transform: translateX(-50%);
	background-color: #F0F9EB;
	border: 1px solid #8cd369;
	position: fixed;
	z-index: 2000;
}

#show a {
	width: 25px;
	height: 25px;
	color: #fff;
	margin-top: 15px;
	margin-left: 15px;
	line-height: 25px;
	background-color: #fab6b6;
	border-radius: 100%;
	float: left;
}

#show span {
	font-size:16px;
	float: left;
}
