@CHARSET "UTF-8";
body {
	background:url(/web/img/banner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#main {
    width:360px;
    height:520px;
    margin:10% auto;
    background-color:#fff;
    border-radius:2px;
}
#title {
	width:300px;
	height:48px;
	margin:0px 30px;
	color:#999999;
	font-size:20px;
	font-weight:700;
	text-align:center;
	line-height:48px;
	border-bottom:2px solid #ccc;
	float:left;
}
#tips {
	width:300px;
	height:40px;
	margin:0px 30px;
	color:#ff0000;
	font-size:16px;
	line-height:40px;
	font-family:"微软雅黑";
	float:left;
}
.textbox {
	width:298px;
	height:40px;
	font-size:16px;
	text-indent:10px;
	font-family:"微软雅黑";
	margin:0px 30px 20px 30px;
	border:1px solid #D1D1D1;
	float:left;
}
#code {
	width:145px;
	height:40px;
	font-size:16px;
	text-indent:10px;
	font-family:"微软雅黑";
	margin:0px 7px 20px 30px;
	border:1px solid #D1D1D1;
	float:left;
}
#getcode {
	width:145px;
	height:44px;
	color:#19B3EF;
	font-size:16px;
	margin-bottom:20px;
	background-color:#ffffff;
	border:1px solid #19B3EF;
	float:left;
}
#getcode:hover {
	color:#ffffff;
	background-color:#19B3EF;
	cursor:pointer;
}
.commit{
	width:300px;
	height:40px;
	color:#ffffff;
	font-size:18px;
	margin:0px 30px 20px 30px;
	background-color:#19B3EF;
	border:none;
	float:left;
}
.commit:hover {
	background-color:#53c7f2;
	cursor:pointer;
}
#main span {
	color:#999999;
	font-size:15px;
	font-family:"微软雅黑";
	margin-left:32px;
	float:left;
}
#main a {
	margin-left:4px;
	color:#0dc2ff;
	font-size:15px;
	font-family:"Helvetica";
	text-decoration:none;
	float:left;
}
#main a:visited {
	color:#0dc2ff;
}