<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>项目首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/web/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/web/css/user/index.css"></link>
    <!-- <script type="text/javascript" src="/web/js/message.js"></script> -->
    <script type="text/javascript" src="/web/js/showtips.js"></script>
    <script type="text/javascript" src="/web/js/user/index.js"></script> 
  </head>
  <body>
    <input type="button" value="QQ"/>
    <input type="button" value="QQ"/>
    <input type="button" value="QQ"/>
    <input type="button" value="QQ"/>
    
    <div id="show"><a>!</a><span>提示信息六六六</span></div>
  </body>

</html>