<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>找回密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" type="image/x-icon" href="/web/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/web/css/user/resetview.css"/>
  </head>
  <body>
    <form action="/resetpass" method="post">
    <div id="main">
      <div id="title">找回密码</div>
      <div id="tips"></div>
      <input type="text" name="username" value="" class="textbox" placeholder="请输入登录账号"/>
      <input type="text" name="emailbox" value="" class="textbox" placeholder="请输入电子邮箱"/>
      <input type="text" id="code" placeholder="请输入验证码"/>
      <input type="button" id="getcode" value="获取验证码"/>
      <input type="password" name="password" class="textbox" placeholder="请输入新密码"/>
      <input type="password" name="password" class="textbox" placeholder="请确认新密码"/>
      <input type="button" value="确定" class="commit"/>
      <span>返回登录</span><a href="loginview">立即登录</a>
    </div>
    </form>
  </body>
</html>